{{#yield-styles}}
{{/yield-styles}}

{{#yield-scripts}}
{{/yield-scripts}}

{{#yield-body}}
<div id="root">
	<div class="features-boxed">
		<div class="container">
			<div class="intro">
				<h1 class="text-center">Luyện tập</h1>
				<p class="text-center">Chọn môn để luyện tập</p>
			</div>
			<div class="row features">
				<div class="col-md-4 col-sm-6 col-xs-12 item-practice">
					<a href="{{baseUrl}}/tieng-viet" class="box class-0">
						<h3 class="name">Tiếng Việt</h3>
						<!--<p class="number">0</p>-->
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 item-practice">
					<a href="{{baseUrl}}/toan" class="box class-1">
						<h3 class="name">Toán</h3>
						<!--<p class="number">1</p>-->
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 item-practice">
					<a href="{{baseUrl}}/tieng-anh" class="box class-2">
						<h3 class="name">Tiếng Anh</h3>
						<!--<p class="number">2</p>-->
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 item-practice">
					<a href="{{baseUrl}}/khoa-hoc-tu-nhien" class="box class-3">
						<h3 class="name">Khoa Học - Tự Nhiên</h3>
						<!--<p class="number">3</p>-->
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 item-practice">
					<a href="{{baseUrl}}/su-dia-xa-hoi" class="box class-4">
						<h3 class="name">Sử - Địa - Xã Hội</h3>
						<!--<p class="number">4</p>-->
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 item-practice">
					<a href="{{baseUrl}}/iq-toan-tieng-anh" class="box class-5">
						<h3 class="name">IQ - Toán - Tiếng Anh</h3>
						<!--<p class="number">5</p>-->
					</a>
				</div>
			</div>
			{{#ads}}
			<div class="row">
				{{>ads-auto}}
			</div>
			{{/ads}}
		</div>
	</div>
</div>
{{/yield-body}}